{% extends "layout.html" %}
{% block title %}AI{% endblock %}
{% block main %}

<div class="container mt-4">
    <div class="row row-offset">
        <div class="col-md-6">
            <!-- Mostrando la imagen de entrenamiento -->
            <div class="card mb-4">
                <img class="card-img-top" src="data:image/png;base64, {{ img1 }}" alt="Training Image" width="100" height="400">

                <!-- <img class="card-img-top" src="data:image/png;base64, {{ img1 }}" alt="Training Image"> -->
                <div class="card-body">
                    <h5 class="card-title">Training Graph</h5>
                    <p class="card-text">Este gráfico representa los datos de entrenamiento utilizados para entrenar el modelo, y el rendimiento del modelo en la predicción de emisiones históricas de CO2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Mostrando la imagen de predicción -->
            <div class="card mb-4">
                <img class="card-img-top" src="data:image/png;base64, {{ img2 }}" alt="Prediction Image">
                <div class="card-body">
                    <h5 class="card-title">Prediction Graph</h5>
                    <p class="card-text">Este gráfico representa la tendencia de las emisiones de CO2 predichas para los años futuros.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <form action="/ai" method="post" id="aiForm">
            <div class="form-group">
                <label for="numericValue">Ingrese un valor numérico:</label>
                <input type="number" class="form-control" id="numericValue" name="numericValue" placeholder="Ingrese un número" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <div class="result" id="result" style="display: none;">
            <!-- Resultado mostrado aquí -->
        </div>
    </div>
    <script>
        function generatePlot() {
            var xScale = document.getElementById('numericValue').value;
            fetch('/generate_plot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'x_scale=' + xScale
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'processing') {
                    document.getElementById('plot_container').innerHTML = 'Plot is being generated...';
                }
            });
        }
    </script>
</div>
{% endblock %}